.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-input-menu {
  background-color: #222;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Alignment-input-menu {
  background-color: #a9a9a9;
  height: 200px;
  width: 100%;
}

.Alignment-input-options,
.Alignment-score-options,
.Alignment-penalty-options {
  width: 33.33%;
  float: left;
  border: 2px solid white;
  height: 200px;
  padding: 5px 0px 5px 0px;
}

.Option-header {
  width: 100%;
  text-align: center;
  height: 10%;
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}

.Alignment-sequence-input-div,
.Alignment-constant-penalty-input-div {
  float: left;
  width: 100%;
}

.Text-input {
  margin: 25px 5px 5px 0px;
  width: 100px;
}

.Alignment-file-input {
  width: 100%;
  float: right;
}

.Alignment-simple-score-input-div {
  width: 100%;
  float: left;
}

.Alignment-blosum-div {
  padding-top: 30px;
}

.Submit-button {
  margin-top: 10px;
  font-size: 20px;
  cursor: pointer;
  background-color: #337dff;
  color: #fff;
}

.Score-matrix-div {
  margin-top: 55px;
  padding-left: 15px;
}

.Left-table,
.Right-table {
  float: left;
}

table,
th,
td {
  border: 1px solid black;
}

.Cell {
  width: 50px;
  height: 50px;
  text-align: center;
  padding-top: 15px;
}

.Alignment-type-dropdown {
  font-size: 20px;
  font-weight: normal;
  margin: 0px 40px 0px 10px;
}

.File-input {
  margin: 25px 5px 5px 10px;
  width: 200px;
}

.Affine-gap-score-matrices-div,
.Score-matrixM-div,
.Score-matrixX-div,
.Score-matrixY-div {
  float: left;
}
